@media only screen and (min-width: 0px) {
  .container-fluid {
    min-width: 280px;
  }
  .flight-title-style {
    font-weight: bold;
  }
  .row {
    padding: 20px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
}
@media only screen and (min-width: 992px) {
  .row {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 0px) {
  .flight-show, .flight-delete, .flight-book {
    margin-top: 10px;
  }
  .row:first-child {
    border-top: 1px solid black;
  }
}
@media only screen and (min-width: 992px) {
  .flight-show, .flight-delete, .flight-book {
    margin-top: 0px;
  }
}
