app/Traits/common/privacycontroller_common_trait.php
/node_modules
/public/css
/public/js
/public/json
/public/scripts
/public/hot
/public/storage
/public/log.txt
/resources/views/partials/privacy.blade.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
