$footer-class: ".footer";

@mixin footer-font(){
    @font-face{
        font-family: f25BankPrinter;
        src: url('/fonts/F25_Bank_Printer.ttf');
    }
    @font-face{
        font-family: f25BankPrinter;
        src: url('/fonts/F25_Bank_Printer_Bold.ttf');
        font-weight: bold;
    }
}

@mixin footer-style($selector,$font-weight){
    #{$selector}{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        width: 100%;
        min-width: 300px;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, rgba(139,198,236,0.7), rgba(149,153,226,0.35));
        .container .row div:not(.not-custom-font){
            font-family: f25BankPrinter, Times, serif;
            font-weight: $font-weight;
        }
    }
}

@include footer-font();
@include footer-style($footer-class, bold);


