@use "sass:math";
@use "sass:map";

@use "modules/globals";
@use "modules/animations";
@import "partials/welcome.hotels";

//Variables

$animation-appear: appear;
$buttons-tab-number: 4;
$divs-col-margin-y: 10px;
$form-buttons-padding: 10px 50px;
$navs-buttons-padding:10px 50px;
$navs-tab-margin-y: 30px;
$tab-pane-width: 90%;
$rows-2-flights-elem: 3;
$xs-breakpoint: 575px;
$flight-animation-selector: "#flight-animation";
$flight-animation-img-id: "#airplane";

%form-welcome-buttons-rules{
    text-transform: uppercase;
    padding: $form-buttons-padding;
}

//Mixins

@mixin col-style(){ 
    div.row>div{
        margin: $divs-col-margin-y 0px;
    }
}

@mixin tab-style(){
    div.fb-tab{
        nav{
            display: flex;
            justify-content: center;
            div.nav-tabs{
                width: $tab-pane-width;
                margin: $navs-tab-margin-y auto;
                button{
                    width: math.div(100%,$buttons-tab-number);
                    padding: $navs-buttons-padding;
                }
            }
        }
    }
    div.tab-pane.show.active{
        width: $tab-pane-width;
        margin: $navs-tab-margin-y auto;
    }
    div.tab-pane.fade:not(.show):not(.active){
        display: none; 
    }
}

@mixin flight-animation-div($selector){
    #{$selector}{
        height: 148px;
        overflow-x: hidden;
        img{
            position: relative;
            height: 80px;
        }
    }
}

@mixin flights(){
    $elems: 6;
    @for $i from 1 through $elems{
        #fb-fs#{$i}{
            padding: 20px auto;
            @if $i == 1{
                div * {
                    margin-right: 5px;
                }
            }
            @if $i == 4{
                display: none;
            }
            @if $i == 6{
                button#bt-flight-submit{
                    @extend %form-welcome-buttons-rules;
                }
            }
        }
    }
}

@mixin rent-car(){
    $margin-y: 15px;
    $elems: 4;
    @for $i from 1 through $elems{
        #fb-rc#{$i}>div{
            margin: $margin-y auto;
        }
    }
    #fb-rentcarloc{
        width: 100%;
    }
}

@mixin rooms(){
    #fb-hotelloc{
        width: 100%;
    }
}

//Exec
@include animations.animation-appear-style(globals.$content-class,animations.$map-appear);
@include animations.animation-horizontal-move($flight-animation-img-id,animations.$map-move-x);
@include col-style();
@include tab-style();
@include flight-animation-div($flight-animation-selector);
@include flights();
@include rent-car();
@include rooms();