div.row > div {
  margin: 10px 0px;
}

div.fb-tab nav {
  display: flex;
  justify-content: center;
}
div.fb-tab nav div.nav-tabs {
  width: 90%;
  margin: 30px auto;
}
div.fb-tab nav div.nav-tabs button {
  width: 25%;
  padding: 10px 50px;
}

div.tab-pane {
  width: 90%;
  margin: 30px auto;
}

#fb-fs1 {
  padding: 20px auto;
}
#fb-fs1 div * {
  margin-right: 5px;
}

#fb-fs2 {
  padding: 20px auto;
}
#fb-fs2 * {
  margin-right: 20px;
}

#fb-fs3 {
  padding: 20px auto;
}
#fb-fs3 * {
  margin-right: 20px;
}

#fb-rc1 > div {
  margin: 15px auto;
}

#fb-rc2 > div {
  margin: 15px auto;
}

#fb-rc3 > div {
  margin: 15px auto;
}

#fb-rc4 > div {
  margin: 15px auto;
}

#fb-rentcarloc {
  width: 100%;
}

#fb-hotelloc {
  width: 100%;
}
