div.fb-tab nav {
  display: flex;
  justify-content: center;
}
div.fb-tab nav div.nav-tabs button {
  padding: 10px 50px;
}

form#flightSearch > div:nth-child(1) {
  padding: 20px auto;
  display: flex;
  justify-content: flex-start;
}
form#flightSearch > div:nth-child(1) div * {
  margin-right: 5px;
}

form#flightSearch > div:nth-child(2) {
  padding: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
form#flightSearch > div:nth-child(2) * {
  margin-right: 20px;
}
