@use "sass:list";
@use "sass:map";
@use "globals";

$paragraphs-padding: 10px 0px;
$form-map:(
    'props': (
        background-color: rgba(255,255,255,0.8)
    )  
);
$result-div-map: (
    'props': (
        border: 2px solid black, margin: 20px auto,padding: 20px
    )
);
$result-div-header-map: (
    'props' : (
        text-transform: uppercase, font-weight: bold, text-align: center, border: 1px solid black
    )
);
$result-div-row-map: ();
$result-div-column-elem-map: ();
$paragraph-header-map: (
    'props': (
        font-weight: bold
    )
);

@mixin result-table($form-map,$rd-map,$rdh-map,$rr-map,$ce-map,$par-h-map){
    $form-id: map.get($form-map,'form-id');
    $rd-class: map.get($rd-map,'rd-class');
    $rdh-class: map.get($rdh-map,'rdh-class');
    $rr-class: map.get($rr-map,'rr-class');
    $ce-class: map.get($ce-map,'ce-class');
    $par-h-class: map.get($par-h-map,'par-h-class');
    form##{$form_id}{
        $form-props: map.get($form-map,'props');
        @each $prop,$val in $form-props{
            #{$prop}: #{$val};
        }
        div.#{$rd-class}{
            $rd-props: map.get($rd-map,'props');
            @each $prop,$val in $rd-props{
                #{$prop}: #{$val};
            }
            div.#{$rdh-class}{
                $rdh-props: map.get($rdh-map,'props');
                @each $prop,$val in $rdh-props{
                    #{$prop}: #{$val};
                }
            }//div.#{$rdh-class}{
            div.#{$rr-class}{
                div.#{$ce-class}{
                    p{
                        &.#{$par-h-class}{
                            $par-h-props: map.get($par-h-map,'props');
                            @each $prop,$val in $par-h-class{
                                #{$prop}: #{$val};
                            }
                        }//&.#{$par-h-class}{
                        margin: 0;
                    }//p{
                }//div.#{$ce-class}{
            }//div.#{$rr-class}{
        }//div.#{$rd-class}{
    }//form##{$form_id}{
}

@mixin result-table-large($widths-list,$rd-map,$rdh-map,$rr-map){
    $rd-class: map.get($rd-map,'rd-class');
    $rdh-class: map.get($rdh-map,'rdh-class');
    $rr-class: map.get($rr-map,'rr-class');
    div.#{$rd-class}{
        div.#{$rdh-class}{
            padding: auto 15px;
            text-align: center;
            border: 1px solid black;
        }
        div.#{$rr-class}{
            display: flex;
            $wl-length: list.length($widths-list);
            @for $i from 1 through $wl-length{
                >div:nth-child(#{$i}){
                    width: list.nth($widths-list,$i);
                    p{
                        padding: $paragraphs-padding;
                        border: 1px solid black;
                        text-align: center;
                    }
                }//>div:nth-child(#{$i}){
            }//@for $i from 1 through $wl-length{
        }//div.#{$rr-class}{
    }
}

@mixin result-div-medium($rd-map,$rdh-map,$rr-map,$ce-map){
    $rd-class: map.get($rd-map,'rd-class');
    $rdh-class: map.get($rdh-map,'rdh-class');
    $rr-class: map.get($rr-map,'rr-class');
    $ce-class: map.get($ce-map,'ce-class');
    div.#{$rd-class}{
        div.#{$rdh-class}{
            text-align: center;
            border: 1px solid black;
            padding: auto 8px;
        }
        div.#{$rr-class}{
            display: flex;
            flex-direction: column;
            div.#{$ce-class}{
                display: flex;
                flex-flow: row nowrap;
                p{
                    width: 50%;
                    border: 1px solid black;
                    text-align: center;
                }
            }//div.#{$ce-class}{
        }//div.#{$rr-class}{
    }//div.#{$rd-class}{
}

@mixin result-div-small($rd-map,$rdh-map,$rr-map,$ce-map){
    $rd-class: map.get($rd-map,'rd-class');
    $rdh-class: map.get($rdh-map,'rdh-class');
    $rr-class: map.get($rr-map,'rr-class');
    $ce-class: map.get($ce-map,'ce-class');
    div.#{$rd-class}{
        div.#{$rdh-class}{
            padding: auto 5px;
        }
        div.#{$rr-class}{
            display: flex;
            flex-flow: column wrap;
            border: 1px solid black;
            div.#{$ce-class}{
                display: flex;
                flex-flow: column wrap;
                p{
                    width: 100%;
                }
            }//div.#{$ce-class}{
        }//div.#{$rr-class}{
    }//div.#{$rd-class}{
}