
@use "sass:map";

//Variables

$animation-appear: appear;
$animation-move-x: move-x;
$welcome-identifier: ".tab-pane.fade.active.show";
$container-identifier: ".container";

$map-appear: (
    "name": $animation-appear,
    "delay": 0s,
    "duration": 1.1s,
    "fill-mode": forwards,
    "count": 1,
    "timing-function": linear
);

$map-move-x: (
    "name": $animation-move-x,
    "delay": 1s,
    "duration": 12s,
    "fill-mode": backwards,
    "count": infinite,
    "timing-function": linear
);

//Mixins

@mixin animation($animation-name,$map){
    animation-name: $animation-name;
    animation-delay: map.get($map,'delay');
    animation-duration: map.get($map,'duration');
    animation-fill-mode: map.get($map,'fill-mode');
    animation-iteration-count: map.get($map,'count');
    animation-timing-function: map.get($map,'timing-function');
}

@mixin animation-appear-style($identifier, $map){
    $animation-name: map.get($map, 'name');
    @keyframes #{$animation-appear} {
        0%{ opacity: 0;}
        100%{ opacity: 1;}
    }
    #{$identifier}{
        @include animation($animation-name,$map);
    }
}

@mixin animation-horizontal-move($identifier,$map){
    $animation-name: map.get($map,'name');
    @keyframes #{$animation-move-x}{
        0%{ left: 0%; }
        65% { left: 100%; }
        65.1%{ left: 0%; }
    }
    #{$identifier}{
        @include animation($animation-name, $map);
    }
}