@use "sass:map";
@use "../modules/globals";

$container: '#back-button';

@mixin back-button-style($container,$breakpoints){
    $md: map.get($breakpoints,'md');
    $lg: map.get($breakpoints,'lg');
    #{$container}{
        .row{
            border: none !important;
            div{
                a{
                    img{
                        @media only screen and (min-width: 0px){
                            width: 25px; height: 25px;
                        }
                        @media only screen and (min-width: #{$md}){
                            width: 35px; height: 35px;
                        }
                        @media only screen and (min-width: #{$lg}){
                            width: 45px; height: 45px;
                        }
                    }
                } 
            }
        }
    }
}

@include back-button-style($container, globals.$bs-breakpoints);