%bold{
    font-weight: bold;
}

%container{
    min-width: 290px;
}

%fullsizeParent{
    width: 100%;
    height: 100%;
}

%header{
    text-align: center;
    padding-bottom: 15px;
}

%legend{
    text-align: center !important;
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
}

%cols{
    text-align: center;
}