
@import "./extendables";

@mixin show-email-div(){
    .show-email{
        span{
            @extend %legend;
        }
        div.divider{
            height: 100px;
        }
        div.email-address{
            font-size: 1rem;
            text-align: center;
        }   
    }  
}

@include show-email-div();