@use "sass:map";
@use "sass:selector";

$hotel-container-id: "#hotel";
$hotel-info-container: "#hotel_info_result";
$hotel-info-images-container: '#hotel_info_images';
$table-th-td-map: ();

@mixin hotel-images-style($images-container){
    $images: selector.nest($images-container, "img");
    #{$images}{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@mixin hotel-tab-style($hc-id,$hic-id){
    #{$hc-id}{
        #{$hic-id}{
            padding: 20px;
            table{
                position: relative;
                margin: 0 auto;
                tr{
                    th,td{
                        @each $prop,$val in $table-th-td-map{
                            #{$prop}: #{$val};
                        }
                    }
                }
            }
        }
    }
}

@include hotel-tab-style($hotel-container-id,$hotel-info-container);
@include hotel-images-style($hotel-info-images-container);