form#fFlight {
  background-color: rgba(255, 255, 255, 0.8);
}
form#fFlight div.flight-div {
  border: 2px solid black;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 20px;
  margin: 20px auto;
}
form#fFlight div.flight-div div.flight-type {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}
form#fFlight div.flight-div div.flight-row div.column-elem p {
  margin: 0;
}
form#fFlight div.flight-div div.flight-row div.column-elem p.fl-header {
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  div.flight-div div.flight-type {
    padding: auto 15px;
    text-align: center;
    border: 1px solid black;
  }
  div.flight-div div.flight-row {
    display: flex;
  }
  div.flight-div div.flight-row > div:nth-child(1) {
    width: 13%;
  }
  div.flight-div div.flight-row > div:nth-child(1) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(2) {
    width: 13%;
  }
  div.flight-div div.flight-row > div:nth-child(2) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(3) {
    width: 19%;
  }
  div.flight-div div.flight-row > div:nth-child(3) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(4) {
    width: 19%;
  }
  div.flight-div div.flight-row > div:nth-child(4) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(5) {
    width: 7%;
  }
  div.flight-div div.flight-row > div:nth-child(5) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(6) {
    width: 7%;
  }
  div.flight-div div.flight-row > div:nth-child(6) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(7) {
    width: 7%;
  }
  div.flight-div div.flight-row > div:nth-child(7) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(8) {
    width: 7%;
  }
  div.flight-div div.flight-row > div:nth-child(8) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
  div.flight-div div.flight-row > div:nth-child(9) {
    width: 8%;
  }
  div.flight-div div.flight-row > div:nth-child(9) p {
    padding: 10px 0px;
    border: 1px solid black;
    text-align: center;
    /* &:nth-child(1){
        background-color: list.nth($column-elem-colors-1p,$i);
    }
    &:nth-child(2){
        background-color: list.nth($column-elem-colors-2p,$i);
    } */
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  div.flight-div div.flight-type {
    text-align: center;
    border: 1px solid black;
    padding: auto 8px;
  }
  div.flight-div div.flight-row {
    display: flex;
    flex-direction: column;
  }
  div.flight-div div.flight-row div.column-elem {
    display: flex;
    flex-flow: row nowrap;
  }
  div.flight-div div.flight-row div.column-elem p {
    width: 50%;
    border: 1px solid black;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  div.flight-div div.flight-type {
    padding: auto 5px;
  }
  div.flight-div div.flight-row {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
  div.flight-div div.flight-row div.column-elem {
    display: flex;
    flex-direction: column;
  }
  div.flight-div div.flight-row div.column-elem p {
    width: 100%;
  }
}
