@use "sass:map";
@use "sass:selector";
@use "sass:string";
@import "../partials/back";
@import "../partials/info.show_email";

$dialog-title-classes:'.ui-dialog', '.ui-dialog-title';
$dialog-title-prop-map: (
    'overflow': 'visible !important',
    'white-space': 'normal !important'
);



@mixin dialog-title-prop($title-class-list, $title-class-prop){
    $title-class-selector: selector.nest($title-class-list);
    #{$title-class-selector}{
        @each $prop,$val in $title-class-prop{
            $prop-unquote: string.unquote($prop);
            $val-unquote: string.unquote($val);
            #{$prop-unquote}: #{$val-unquote};
        }//@each $prop,$val in $title-class-prop{
    }//#{$title-class-selector}{
}

@include dialog-title-prop($dialog-title-classes,$dialog-title-prop-map);