
@use "sass:map";
@use "../modules/globals";
@use "../modules/result_table";
@import "../partials/back";

$column-elem-number: 6;
$column-elem-widths: 15%,35%,10%,15%,15%,10%;

$carrental-form-map: map.merge(('form-id': 'fCrPrice'), result_table.$form-map);

$carrental-div-map: map.merge(('rd-class': 'carrental-div'), result_table.$result-div-map);

$carrental-div-header-map: map.merge(('rdh-class': 'carrental-header'), result_table.$result-div-header-map);

$carrental-row-map: map.merge(('rr-class': 'carrental-row'), result_table.$result-div-row-map);

$carrental-column-elem-map: map.merge(('ce-class': 'column-elem'),result_table.$result-div-column-elem-map);

$carrental-par-header-map: map.merge(('par-h-class': 'cr-ce-header'),result_table.$paragraph-header-map);

@include result_table.result-table($carrental-form-map,$carrental-div-map,$carrental-div-header-map,$carrental-row-map,$carrental-column-elem-map,$carrental-par-header-map);

@media only screen and (min-width: 0px){
    @include result_table.result-div-small($carrental-div-map,$carrental-div-header-map,$carrental-row-map,$carrental-column-elem-map);
}

@if map.has-key(globals.$bs-breakpoints,'md'){
    $md: map.get(globals.$bs-breakpoints,'md');
    @media only screen and (min-width: #{$md}){
        @include result_table.result-div-medium($carrental-div-map,$carrental-div-header-map,$carrental-row-map,$carrental-column-elem-map);
    }
}

@if map.has-key(globals.$bs-breakpoints,'lg'){
    $lg: map.get(globals.$bs-breakpoints,'lg');
    @media only screen and (min-width: #{$lg}){
        @include result_table.result-div-large($column-elem-widths,$carrental-div-map,$carrental-div-header-map,$carrental-row-map);
    }
}


