@use "sass:map";
@use "../modules/globals";
@use "../modules/result_table";
@import "../partials/back";

$fe-prefix: 'flighteventbook';

$column-elem-number: 7;
$column-elem-widths: 20%, 20%, 15%, 15%, 15%, 15%, 10%;

$flighteventbook-form-map: map.merge(('form-id' : 'fFePrice'), result_table.$form-map);

$flighteventbook-div-map: map.merge(('rd-class' : '#{$fe-prefix}-div'), result_table.$result-div-map);

$flighteventbook-div-header-map: map.merge(('rdh-class' : '#{$fe-prefix}-header'), result_table.$result-div-header-map);

$flighteventbook-row-map: map.merge(('rr-class' : '#{$fe-prefix}-row'), result_table.$result-div-row-map);

$flighteventbook-column-elem-map: map.merge(('ce-class' : 'column-elem'), result_table.$result-div-column-elem-map);

$flighteventbook-par-header-map: map.merge(('par-h-class': 'fe-ce-class'), result_table.$paragraph-header-map);

@include result_table.result-table($flighteventbook-form-map, $flighteventbook-div-map, $flighteventbook-div-header-map, $flighteventbook-row-map, $flighteventbook-column-elem-map, $flighteventbook-par-header-map);

@media only screen and (min-width: 0px){
    @include result_table.result-div-small($flighteventbook-div-map, $flighteventbook-div-header-map,$flighteventbook-row-map,$flighteventbook-column-elem-map);
}

@if map.has-key(globals.$bs-breakpoints,'md'){
    $md: map.get(globals.$bs-breakpoints,'md');
    @media only screen and (min-width: #{$md}){
        @include result_table.result-div-medium($flighteventbook-div-map, $flighteventbook-div-header-map,$flighteventbook-row-map,$flighteventbook-column-elem-map);
    }
}

@if map.has-key(globals.$bs-breakpoints,'lg'){
    $lg: map.get(globals.$bs-breakpoints,'lg');
    @media only screen and (min-width: #{$lg}){
        @include result_table.result-table-large($column-elem-widths,$flighteventbook-div-map, $flighteventbook-div-header-map,$flighteventbook-row-map);
    }
}

