@use "sass:list";
@use "sass:map";
@use "../modules/globals";
@use "../modules/result_table";

$column-elem-number: 8;
$column-elem-widths: 14%,14%,26%,10%,10%,9%,9%,8%;

$hotel-form-map: ('form-id': 'fHotelPrice');
$hotel-form-map: map.merge($hotel-form-map,result_table.$form-map);
@debug $hotel-form-map;

$hotel-div-map: ('rd-class': 'hotel-div');
$hotel-div-map: map.merge($hotel-div-map,result_table.$result-div-map);
@debug $hotel-div-map;

$hotel-div-header-map: ('rdh-class': 'hotel-header');
$hotel-div-header-map: map.merge($hotel-div-header-map,result_table.$result-div-header-map);
@debug $hotel-div-header-map;

$hotel-row-map: ('rr-class': 'hotel-row');
$hotel-row-map: map.merge($hotel-row-map,result_table.$result-div-row-map);
@debug $hotel-row-map;

$hotel-column-elem-map: ('ce-class': 'column-elem');
$hotel-column-elem-map: map.merge($hotel-column-elem-map,result_table.$result-div-column-elem-map);

$hotel-par-header-map: ('par-h-class': 'hp-ce-header');
$hotel-par-header-map: map.merge($hotel-par-header-map,result_table.$paragraph-header-map);
@debug $hotel-par-header-map;

@include result_table.result-table($hotel-form-map,$hotel-div-map,$hotel-div-header-map,$hotel-row-map,$hotel-column-elem-map,$hotel-par-header-map);

@media only screen and (min-width: 0px){
    @include result_table.result-div-small($hotel-div-map,$hotel-div-header-map,$hotel-row-map,$hotel-column-elem-map);
}

@if map.has-key(globals.$bs-breakpoints,'md'){
   $md: map.get(globals.$bs-breakpoints,'md'); 
   @media only screen and (min-width: #{$md}){
    @include result_table.result-div-medium($hotel-div-map,$hotel-div-header-map,$hotel-row-map,$hotel-column-elem-map);
   }
}

@if map.has-key(globals.$bs-breakpoints,'lg'){
    $lg: map.get(globals.$bs-breakpoints,'lg');
    @media only screen and (min-width: #{$lg}){
        @include result_table.result-table-large($column-elem-widths,$hotel-div-map,$hotel-div-header-map,$hotel-row-map);
    }
}



